<h1>FILE EDITOR</h1>

<div>
    <label>Enter File Name to download</label>
    <input type="text" [(ngModel)]="fileNameToDownload">
    <button (click)="downloadFile(fileNameToDownload)">Download</button>
</div>

<div>
    <label>Enter Txt File Name to download</label>
    <input type="text" [(ngModel)]="textFileNameToDownload">
    <button (click)="downloadTextFile(textFileNameToDownload)">Download</button>
</div>

<textarea id="" cols="30" rows="10" [(ngModel)]="editFileContent">sdsd</textarea>
<div>
    <button (click)="saveFile(textFileNameToDownload, editFileContent)">Save</button>
</div>